name: Magic Link Test

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch: {}

jobs:
  test-magic-link:
    name: Test Magic Link - ${{ matrix.environment }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - environment: Production
            email: edc34134c9@nosnch.in
            secret_name: KEYCLOAK_CLIENT_SECRET_PROD
            keycloak_hostname: https://keycloak-ilifu.openup.org.za
            redirect_uri: https://agari.openup.org.za
            folio_hostname: https://folio-ilifu.openup.org.za
          - environment: Staging
            email: e8844fa3cb@nosnch.in
            secret_name: KEYCLOAK_CLIENT_SECRET_STAGING
            keycloak_hostname: https://keycloak-staging.openup.org.za
            redirect_uri: https://agari-staging.openup.org.za
            folio_hostname: https://folio-staging.openup.org.za
    steps:
      - name: Get JWT Token
        id: get_token
        run: |
          response=$(curl -s "${{ matrix.keycloak_hostname}}/realms/agari/protocol/openid-connect/token" \
            --data-raw "client_id=dms&client_secret=${{secrets[matrix.secret_name]}}&grant_type=client_credentials")

          access_token=$(echo "$response" | jq -r '.access_token')
          echo "access_token=$access_token" >> $GITHUB_OUTPUT

      - name: Test Magic Link Login
        run: |
          curl -v -X POST ${{matrix.folio_hostname}}/users/ \
            -H "Content-Type: application/json" \
            -H "Authorization: Token ${{steps.get_token.outputs.access_token}}" \
            -d '{"email":"${{ matrix.email }}","redirect_uri":"${{matrix.redirect_uri}}","expiration_seconds":3600,"send_email":true}'

